@page "/"
@using Business.Classes;
@inject BookingProcessor bp

<header>
    <h1 class="display-6 m-5 mx-0 text-center">Welcome to Car Rental booking!</h1>
</header>


<section class="container">
    <!--Customers-->
    <div class="row">
        <table class="tab3 table caption-top table-hover">
            <caption>Customers</caption>
            <thead>
                <tr>
                    <th scope="col">SSN</th>
                    <th scope="col">Last name</th>
                    <th scope="col">First name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in bp.Customers)
                {
                    <tr>
                        <td class="fw-bold">@person.SSN</td>
                        <td>@person.LastName</td>
                        <td>@person.FirstName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!--Vehicles-->
    <div class="row">
        <table class="tab1 table table-hover table-borderless caption-top">
            <caption>Vehicles</caption>
            <thead>
                <tr>
                    <th scope="col">RegNo</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Odometer</th>
                    <th scope="col">Cost km</th>
                    <th scope="col">Vehicle type</th>
                    <th scope="col">Daily cost</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicle in bp.Vehicles)
                {
                    <tr>
                        <td class="fw-bold">@vehicle.RegNo</td>
                        <td>@vehicle.Brand</td>
                        <td>@vehicle.Odometer</td>
                        <td>@vehicle.CostKm</td>
                        <td>@vehicle.VType</td>
                        <td>@vehicle.DailyCost</td>
                        <td>
                              <button type="button" class="btn btn-success position-relative
                                badge border-0 rounded-pill text-bg-@(vehicle.Status.Equals(bp._vehicleStatus) ? "success" : "danger")">
                                    @vehicle.Status
                              </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!--Bookings-->
    <div class="row">
        <table class="tab2 table caption-top table-hover">
            <caption>Bookings</caption>
            <thead>
                <tr>
                    <th scope="col">RegNo</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Start km</th>
                    <th scope="col">Returned km</th>
                    <th scope="col">Rental Date</th>
                    <th scope="col">Return Date</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in bp.Bookings)
                {
                <tr>
                    <th class="fw-bold">@booking.Vehicle.RegNo</th>
                    <td>@booking.Person.FullName</td>
                    <td>@booking.Vehicle.Odometer</td>
                    <td>@booking.ReturnedKm</td>
                    <td>@booking.RentalDate.ToString("dd'/'MM'/'yyyy")</td>
                    <td>@booking.ReturnDate?.ToString("dd'/'MM'/'yyyy")</td>
                    <td>@booking.Cost</td>
                        <td>
                            <button type="button" class="blue btn btn-sm position-relative
                                btn-@(booking.Vehicle.Status.Equals(bp._vehicleStatus) ? "success" : "primary")">
                                @(booking.Vehicle.Status.Equals(bp._vehicleStatus) ? "Returned" : "Open")
                            </button>
                         </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</section>



